---
import { Image } from "astro:assets";

const {appName="Hadoop", url ="hadoop.srikanthk.tech", isUp=true, img="/hadoop.svg", uptime="1D"} = Astro.props
const indicator = "red"
---

<div class="container">
    <div class="flex-row flex gap-5">
        <img 
            src={img}
            class={`w-14 h-14 rounded-full ring-2 ring-${indicator}-500 shadow-md shadow-${indicator}-500 backdrop-blur-sm border-white`}
        />
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p class="font-semibold">{appName}</p>
                <p>Host: {url.substring(0, 7)}...</p>
            </div>
            <p class="my-auto font-extrabold text-4xl">1D</p>
        </div>
    </div>
</div>
