---
import Icon from "astro-icon";
const {header = ["R1", "R2"], rows = [["r1", "r2"]]} = Astro.props
---
<div class="relative shadow-md sm:rounded-lg w-11/12 my-4">
    <table class="w-full text-sm text-left">
        <thead class="text-xs uppercase">
            <tr class="text-center border-b">
                {header.map((head: string) => (
                    <th scope="col" class="px-6 py-3 font-semibold text-xl">
                        <span> {head} </span>
                    </th>
                ))}
            </tr>
        </thead>
        <tbody>
            {rows.map((row: any) => (
                <tr class="border-b">
                    {row.map((col: string)=> (
                        <td class="px-6 py-4 text-xl text-center">
                            <span> {col} </span>
                        </td>
                    ))}
                </tr>
            ))}
        </tbody>
    </table>
</div>
