---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Datahive made with <a href="https://astro.build/">Astro</a>. Made with ❤️ by <a
          href="https://github.com/srikanth-iyengar">Srikanth Iyengar</a
        >.
      </p>
    </div>
  </section>
</footer>
