---
import ManagerLayout from "../../layouts/ManagerLayout.astro";
import Node from "../../components/ui/Node.astro";
---

<ManagerLayout>
    
    <div class="my-10">
        <div class="grid grid-cols-3 gap-6">
        <Node />
        <Node />
        <Node />
        <Node />
        <Node />
        <Node />
        </div>
    </div>
</ManagerLayout>
